#our-vehicle {
    margin-bottom: $mg-100;
    .title {
        margin-bottom: $mg-60;
    }
    #our-vehicle-slide {
        .our-carousel-content {
            width: 70%;
            margin: 0 auto;

            display: flex;
            text-align: center;
            justify-content: space-between;
            .our-carousel-nav {
                cursor: pointer;
                list-style: none;
                font-weight: $fontWeight-bold;
                color: $color-darkBlue-100;
                margin-bottom: $mg-20;
                &.active {
                    padding: $pd-6 $pd-20;
                    border-radius: 25px;
                    background-color: $color-blue-300;
                    color: $color-white;
                    display: flex;  //* nếu set left ở after thông thường thì mũi tên sẽ không đi theo khi đổi active qua mục khác, nên phải sử dụng display-flex và justify-center
                    //* để căn mũi cố định ở giữa tiêu đề trước, sau đó chỉnh top, thì khi đổi tiêu đề sẽ cố định theo after  
                    justify-content: center;
                    &::after {
                        content: "";
                        border-top: 20px solid $color-white-100;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        position: absolute;
                        top: 56px;  //* set top bằng chiều cao của thẻ .our-carousel-nav
                        z-index: 997;
                    }
                }
            }
        }
        .our-carousel-img {
            position: relative;

            height: 550px;
            .our-carousel-item {
                height: 100%;
                position: relative;
                .our-vehicle-caption{
                    width: 30%;

                    color: $color-white;

                    position: absolute;
                    top: 10%;
                    left: 5%;
                    span{
                        font-weight: $fontWeight-bold;
                    }
                    img{
                        vertical-align: middle;
                        width: 100%;
                    }
                    .caption-number{
                        padding: 0;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        .number{
                            p:first-child{
                                font-size: $fontSize-4;
                                font-weight: $fontWeight-300;
                                margin: 0;
                            }
                            p:last-child{
                                font-weight: $fontWeight-bold;
                            }
                        }
                    }
                    button{
                        padding: $pd-6 $pd-25;
                    }
                }
                .our-vehicle-footer{
                    width: 50%;

                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border-top: .5px solid $color-white;

                    display: flex;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    align-items: center;
                    a{
                        color: $color-white;
                        text-decoration: none;
                        font-weight: $fontWeight-bold;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                    img{
                        width: 50%;
                    }
                }
                
            }

            .carousel-control-prev {
                position: absolute;
                top: 0;
                left: -153px;
                i {
                    @include carousel-control($fontSize-4, $color-darkblue-overlay, $pd-20, 0);
                    border-bottom-right-radius: 10px;
                    border-top-right-radius: 10px;

                    position: absolute;
                    right: 0;
                }
            }
            .carousel-control-next {
                position: absolute;
                top: 0;
                right: -153px;
                i {
                    @include carousel-control($fontSize-4, $color-darkblue-overlay, $pd-20, 0);
                    border-bottom-left-radius: 10px;
                    border-top-left-radius: 10px;

                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}
