#services {
    margin-bottom: $mg-100;
    .services-content {
        width: 90%;
        margin: 0 auto;
        .services-bg {
            cursor: pointer;
            height: 300px;
            width: 24%;
            margin: 0 auto;
            box-shadow: 0 0 10px 0 $color-white-400;
            .services-item {
                text-align: center;

                padding: $pd-30 $pd-20;
                transform: translateY(100px);
                color: $color-darkBlue-100;

                
                h3{
                    font-size: $fontSize-2;
                    font-weight: $fontWeight-bold;
                }
                button{
                    padding: $pd-6 $pd-20;
                }
            }
            transition: all .5s;
            &:hover{
                transform: translateY(-20px);
            }
        }
    }
}
